@import './tailwind.css';
@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green,
.pink {
  text-decoration: none;
  color: var(--color-pink);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-pink-dark-2);
  }
}

a.vue-green,
a.vue-pink,
.green,
.pink {
  text-decoration: none;
  color: var(--color-pink);
}

@media (hover: hover) {
  a.vue-green:hover,
  a.vue-pink:hover {
    background-color: var(--color-pink-dark-2);
  }
}

/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

.objects-list {
  max-height: 760px;
  overflow-y: scroll;
}

form label.required::after,
form legend.required::after {
  content: ' *';
  color: var(--color-pink);
}

.error {
  color: var(--color-pink);
}

.subtitle {
  color: var(--vt-c-divider-dark-1);
}
h1.heading {
  font-size: 2.5rem;
}
svg {
  display: inline-block !important;
}
