@import './tailwind.css';
@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-red);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(330, 67%, 52%, 0.2);
  }
}

a.vue-green,
.green {
  text-decoration: none;
  color: var(--color-green);
}

@media (hover: hover) {
  a.vue-green:hover {
    background-color: hsla(160, 100%, 37%, 0.2) !important;
  }
}

/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

.objects-list {
  max-height: 760px;
  overflow-y: scroll;
}

form label.required::after,
form legend.required::after {
  content: ' *';
  color: var(--color-red);
}

.error {
  color: var(--color-red);
}

.subtitle {
  color: var(--vt-c-divider-dark-1);
}
